<header class="header">
			<div>
			{{> logo}}
			</div>
			<nav class="header_nav">
				<div class="header_nav_right">
				{{!-- {{> nav list=header}} --}}
				</div>			
			</nav>
</header>

<section class="ads_section">
	<div class="ads">	
		{{#with header.ad}}
		<div>
			<span class="ads_logo">Ad</span>
			<a href="{{url}}" class="ads_link">{{text}}</a>	
	    {{/with}}
		</div>
		<div>
		<span class="users_online">Users online: {{header.userOnline}}</span>
		</div>
	</div>	
</section>

<section class="hero_block">
	<div class="hero">
		{{#with hero}}
		<h1 class="hero_title">{{title}}</h1>
		<p class="herp_text">{{description}}</p>
		<a type="button" class="button hero_button" href="{{button.url}}">{{button.text}}</a>
		{{/with}}
	</div>
</section>

<section class="about_block">
	<div class="about">
		{{#with about}}
		<h3 class="about_title">{{heading}}</h3>
		<info class="inf_text">{{info}}</info>
		{{/with}}
	</div>	
</section>
		
<main class="main">
	<section class="articles">
		<div class="articles_header">
			<div>
				<h2 class="articles_title">Our Articles</h2>
			</div>
			<div>
				<a href="#" type="button button-outline" class="view_all">View All</a>
			</div>			
		</div>
		<div class="articles_cards">Lorem ipsum</div>
	</section>
</main>

<footer class="footer">
		<div>
			{{> logo}}
			<span class="footer_copyright">Copyright &copy; 2023-2024</span>
		</div>
</footer>
	